.sidePanel_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidePanel_selector {
  color: $white;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  button {
    color: $white;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.sidePanel_selector-dropdown {
  position: absolute;
  width: 241px;
  height: 96px;
  background-color: $black;
  top: 25px;
  right: 0;
  z-index: 3;
  transition: all 0.3s ease-in;
  filter: drop-shadow(0px 18px 43px rgba(36, 36, 36, 0.3));
  span:first-child {
    width: 12px;
    height: 12px;
    background-color: $black;
    transform: rotate(45deg);
    position: absolute;
    right: 30px;
    top: -4px;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    width: 100%;
    span:first-child {
      display: none;
    }
  }
}

.dropdown-selection-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  @media screen and (max-width: $breakpoint-tablet) {
    align-items: center;
  }
}

.selector-dropdown-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  button {
    border: none;
    background-color: transparent;
    padding: 0;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    svg {
      position: relative;
      left: 20px;
    }
  }
}

.sidePanel_movies-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 25px;
  @media screen and (max-width: $breakpoint-tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
  }
}
