@font-face {
  font-family: 'BebasNeuePro';
  font-weight: 700;
  src: local('BebasNeuePro'), url(/fonts/BebasNeueProBold.ttf) format('truetype');
}
@font-face {
  font-family: 'BebasNeuePro';
  font-weight: 400;
  src: local('BebasNeuePro'), url(/fonts/BebasNeueProRegular.ttf) format('truetype');
}
