// Colors
$background: #242424;
$aqua: #64eebc;
$black: #242424;
$darkgrey: #292929;
$black50: rgba(36, 36, 36, 0.5);
$black70: rgba(36, 36, 36, 0.7);
$red: #ff0000;
$white: #ffffff;
$white50: rgba(255, 255, 255, 0.5);

// Breakpoints

$breakpoint-tablet: 992px;
$breakpoint-md: 750px;
$breakpoint-mobile: 576px;
